.container {
  border: 3px solid #1d3557;
  width: 250px;
  top: 0;
  left: 125px;
  position: fixed;
}

.header {
  text-align: center;
}

div {
  float: left;
  padding: 15px;
}

.div1 {
  background-color: #e63946;
}

.div2 {
  background-color: #f1faee;
}

.image {
  width: 500px;
  height: 2000px;
}
